
<div *ngIf="validationError" class="error"> {{validationMessage}}</div>
<form (submit)="updateProduct()">
    <label for="productObj.title">Title</label>
    <input type="text" value="{{productQuery['title']}}" name="productObj.title" [(ngModel)]="productObj.title">

    <label for="productObj.price">Price</label>
    <input type="number" value="{{productQuery['price']}}" name="productObj.price" [(ngModel)]="productObj.price">

    <label for="productObj.img_url">Img URL</label>
    <input type="text" value="{{productQuery['img_url']}}" name="productObj.img_url" [(ngModel)]="productObj.img_url">

    <button type="submit">Update!</button>
    <button [routerLink]= "['/product_list']">Cancel</button>

</form>


