
<h1>Create a New Product</h1>

<div *ngIf="validationError" class="error"> {{validationMessage}}</div>

<form (submit)="createProduct()">
  <label for="product.title" >Title: </label> 
  <input type="text" name="product.title" [(ngModel)]="product.title">

  <label for="product.price">Price: </label>
  <input type="number" name="product.price" [(ngModel)]="product.price">

  <label for="product.img_url">Image URL: </label>
  <input type="text" name="product.img_url" [(ngModel)]="product.img_url">

  <button type="submit">Create</button>
  <button [routerLink]= "['/home']">Cancel</button>

</form>

